/* ! app */
@import url('./components/app/app.css');

/* ! header */
@import url('./components/header/header.css');

/* ! preloader */
/* @import url('./components/preloader/preloader.css'); */

/* ! navbar */
@import url('./components/navBar/navBar.css');

/* ! forms */
@import url('./components/forms/forms.css');

/* ! navmenu */
@import url('./components/navMenu/navMenu.css');

/* ! popup */
@import url('./components/popup/popup.css');

/* ! Footer */
@import url('./components/footer/footer.css');

/* ! Entry */
@import url('./components/message/message.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}